@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #e87b40;
    background-image: linear-gradient(62deg, #e87b40 0%, #deb95a 100%);
    color: #fff;
    font-family: 'Itim', cursive;
  }
  
  h1 {
    margin: 20px 0 0;
  }
 
  *::-webkit-scrollbar {
    display: none;
  }